.contenedor {
  margin: 20px auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, auto);
}

.contenedor > div {
  padding: 20px auto;
  /* grid-column: span 2;
      grid-column-start: 2;
      grid-column-end: 5; */
  grid-column: 2/5;
}

.centrar {
  text-align: center;
  align-items: center;
}

label {
  margin-bottom: 2em;
  margin-top: 2em;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100vw;
  padding-top: 20px;
  color: #fff;
  align-items: center;
  margin-top: 2em;
}

table {
  width: 100px;
  margin: 0 auto;
  text-align: center;
  align-items: center;
}

.contenedorTabla {
  padding-bottom: 2em;
  margin-bottom: 3em;
}
